[user]
	name = Ingimar Svanberg Jóhannesson
	email = ingimar.johannesson@gmail.com
[push]
	default = current
[http]
	sslVerify = false
[core]
	excludesfile = /home/ingimar/.gitignore
	pager = less -x1,5
[alias]
    c = "!git commit -m "
    p = !git push origin $(git rev-parse --abbrev-ref HEAD)
    dl = "!git remote prune origin && git branch -vv | grep ': gone]'|awk '{ print $1; }'|xargs -r git branch -D"
